{% extends ':front:base.html.twig' %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path('front_main_home') }}">الرئيسة</a></li>
        <li class="active">استعادة كلمة المرور</li>
    </ul>
{% endblock %}

{% block content %}
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock  %}
