{% set flashMsgTypes = ['success', 'info', 'warning', 'danger'] %}
{% for flashMsgType in flashMsgTypes %}
    {% set data = app.session.flashbag.get(flashMsgType) %}
    {% if data %}
        {%if data|length == 1%}
            {% for flashMessage in data %}
                <div class="alert alert-{{ flashMsgType }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        {%else%}
            <div class="alert alert-{{ flashMsgType }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <ul>
                    {% for flashMessage in data %}
                        <li>{{ flashMessage }}</li>
                    {% endfor %}
                </ul>
            </div>
        {%endif%}
    {% endif %}
{% endfor %}