{% extends ':frontend:base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block breadcrumb %}
    <p class="crumbs"><a href="{{ path('front_index') }}">Home</a> <span class="separator"> / </span> <span class="current">Check E-mail</span></p>
{% endblock %}

{% block content %}
    {{ 'resetting.check_email'|trans({'%email%': email}) }}
{% endblock %}
